<h1>Ho ho <%= @participant.name %></h1>
<p>
  Tu es invité à participer au Secret Santa <%= @participant.event.title %>
  <br><br>
  Tu es l'heureux Secret Santa de <%= @santa.name %>. A toi de lui offrir un cadeau à hauteur de <%= @participant.event.max_price %>€<br>
</p>

<p>Bonnes fêtes !</p>